.box{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: auto;
    /* animation: colorchanger 3s infinite; */
    animation-name: colorchanger;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    text-align: center;
    display: inline;
}
@keyframes colorchanger {
    0%,100%{
        background-color: red;
        transform: scale(0.3);
        /* transform: translate(0px,0px); */
    }
    5%{
        background-color: green;
        transform: scale(1);
        /* transform: translate(50px,50px); */
    }
    70%{
        background-color:blue;
        transform: scale(3);
        /* transform: translate(50px,300px); */
    }
}

.left {
    width: 100px;
    height: 100px;
    border-radius:100% ;
    background-color: blue;
    animation-name: leftwala;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes leftwala {
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(200px,200px);
    }
    100%{
        transform: translate(400px,0px)
    }
}

.right {
    width: 100px;
    height: 100px;
    border-radius:100% ;
    background-color:green;
    animation-name: rightwala;
    animation-duration: 5s;
    animation-iteration-count: 1;
    /* display:inline-block; */
    display: inline-flex;
}

@keyframes rightwala {
    0%{
        transform: translate(500px,0px);
    }
    50%{
        transform: translate(200px,200px);
    }
    100%{
        transform: translate(0px,-100px)
    }
}
.box2 {
    display: inline;
}